
    <div id="aboutpage">
        <h1>This is the about page of span alpha-blog</h1>
         <br>
        
        <a href="/"><button style="padding: 20px;">  Home page </button></a>
         <p>    <%= link_to 'Articles listing', articles_path %>
</p>
    </div>
