@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url("imagew.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
}

html,
body {
  height: 100%;
  background-color: lightgray;
}

#sticky-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.page-content {
  flex: 1 0 auto;
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}

.card-header {
  font-style: italic !important;
}

.card-t {
  text-decoration: none !important;
}

.formReturn {
  text-decoration: none !important;
  text-align: center !important;
  padding-top: 20px;
}

.formbtn {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.prev {
  background-color: rgb(0, 153, 255) !important;
  margin-right: 20px !important;
  padding: 10px 20px 10px 20px !important;
  color: white !important;
  border-radius: 10px !important;
}

.prev a {
  text-decoration: none !important;
  color: white !important;
}

.next {
  background-color: rgb(0, 153, 255) !important;
  margin-left: 20px !important;
  padding: 10px 20px 10px 20px !important;
  color: white !important;
  border-radius: 10px !important;
}

.next a {
  text-decoration: none !important;
  color: white !important;
}

.page {
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.page a {
  color: rgb(0, 0, 0);
  text-decoration: none !important;
}

.active {
  background-color: rgb(0, 153, 255) !important;
  color: white;
}
