<h1 class="text-center mt-4">Edit category name</h1>


<div class="container" style="height: 100%;">
    <div class="row justify-content-center">
        <div class="col-10">
           <%= render 'form'%>
        </div>
        <div class="mb-3" style="text-align: center;">
        <%= link_to '[ Cancel and return to category ]', category_path(@category), class: "formReturn text-info"%>
        </div>
    </div>
    
</div>